.playerCont{
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    flex-direction: column;
}

.stat{
    font-size: 20px;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
    text-decoration: solid;
}