.dashTitle{
    display: flex;
    justify-content: center
}

.fullCont{
    background-color: blue;
    height: 1000%;
    display:flex;
}

.left, .right{
    width: 50%;

}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
}

.inputs div{
    height: 25%;
}