.dashBody{
    display: flex;
    flex-direction: column;
    height: 50rem;
    /* margin: 0 20px 0 0; */
}

.tabs{
    margin-left:20px;
}

.tab{
    background-color: transparent;
    border-radius: 0;
}

.tablist{
    gap: 20px;
}